<div class="text-container">
  <h1>Every year ranking is a big decision for co-ops.</h1>
  <p>
    Imagine that you have an offer from company A, but you are "ranked" for company B which you would like to go.
    Do you take the offer from A which is more secure, or do you take a chance to rank B as your top choice?
  </p>
  <p>It will be nice if we can have a central information sharing website where students discuss about their
    ranking preferences. If you know that whoever has an offer from B is taking the job, you don’t have much
    choice other than taking the offer from A; on the other hand,
    if you know that the person is not taking B's offer, there is a chance. It's all about information sharing.</p>

  <p><a href="http://www.jobminealgorithm.com" target="_blank">JobMine Algorithm</a> is describing the the exact same situation, and hopefully
    the rank/match system will one day change(as a side note,
    <a href="https://uwaterloo.ca/co-operative-education-career-action-systems/waterlooworks/key-process-changes"
       target="_blank">
      Waterloo Work
    </a> is not changing the matching process a lot)
  </p>
  <h2>Some Expected Questions</h2>
  <p>-I entered my ranking/jobID/preference wrong, what should I do?</p>
  <p>We don't want everyone to change the jobID and ranking a lot to mess around with the system,
    so we disabled that. Shoot an email to hanchen1996@hotmail.com for help, be sure to mention your name</p>

  <p>-Can I not display my name?</p>
  <p>People can probably see your name under the interview section in jobMine anyways,
    but if you are uncomfortable, shoot an email to hanchen1996@hotmail.com for support :)</p>

  <p>-There are bugs!</p>
  <p>:( please open up an issue in Github and I can take a look at the issue. </p>

  <h2>IF YOU ARE INTERESTED TO HELP</h2>
  <p>There are some articles that you might find interesting </p>
  <ul>
    <li>
      <a href="http://www.tinyepiphany.com/2009/11/way-to-improve-jobmine-matching-process.html" target="_blank">
        http://www.tinyepiphany.com/2009/11/way-to-improve-jobmine-matching-process.html</a>
    </li>
    <li>
      <a href="http://www.reddit.com/r/uwaterloo/comments/2ubizx/fix_jobmines_algorithms/" target="_blank">
        http://www.reddit.com/r/uwaterloo/comments/2ubizx/fix_jobmines_algorithms/</a></li>
    <li> <a href="http://a-notebook.blogspot.ca/2009/11/way-to-improve-jobmines-matching.html"
            target="_blank">http://a-notebook.blogspot.ca/2009/11/way-to-improve-jobmines-matching.html</a></li></ul>
  <p>GitHub Repo is on the top right</p>
</div>